* {
    margin: 0px;
    padding: 0px;
}

body {
    color:white;
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
        "header header header"
        "menu main main"
        "footer footer footer";
    grid-template-columns: 20vw auto auto;
    grid-template-rows: 50px calc(100vw - 150px) 50px;
    font-family: Arial, Helvetica, sans-serif;

}

.header {
    display:grid;
    align-items: center;
    grid-area: header;
    background-color: #e22020;
    padding: 10px;

}

.menu {
    grid-area: menu;
    background-color: #56bffc;
    padding: 10px;

}

.main {
    grid-area: main;
    background-color: #bc20e2;
    padding: 10px;
}

.footer {
    display: flex;
    grid-area: footer;
    background-color: #81e220;
    justify-content: center;
    align-items:center ;
}